<!doctype HTML>

<html>
<head>
    <title>Symfony is Awesome</title>
</head>
<body>

{{ name }}


<ul>
    {% for index, day in tests %}
        <li>{{ index }} : {{ day }}</li>
        {% else %}
        <li>no days found</li>
    {% endfor %}
</ul>

<p>{{ html }}</p>
<p>{{ html | replace ({"n'est pas " : " est "}) | raw}}</p>
<a href="{{ path('app_twig_test') }}">Lien vers la page Twig Test</a>

</body>
</html>
