{% extends "::base.html.twig" %}

    {% block title %}
        Détail de {{ tweet.message }}
    {% endblock %}


{% block header %}

{% endblock %}

{% block content %}
        <ul>
            <div class="panel panel-default">
                <div class="panel-body">
                    <li>
                        <p title="{{ tweet.createdAt|date('d-m-Y H:i:s') }}"> {{ tweet.createdAt|time_ago_in_words  }}</p>
                        <p>{{ tweet.message }}</p>
                        {% if is_granted('ROLE_USER') %}
                            <a href="{{ path('app_tweet_add_favourite', { 'tweet' : tweet.id }) }}">Ajouter au favoris</a>
                        {% endif %}
                    </li>
                </div>
            </div>
        </ul>
{% endblock %}



{% block footer %}
    {{ parent() }}
    <a href="{{ path('app_twig_test') }}">Lien vers la page Twig Test</a>
{% endblock %}